{% extends 'postss/base.html' %}
{% load static %}
{% block content %}
    <div class="work p-3 mb-3">
        <h2 class="border-bottom">حول الموقع </h2>
        <h5 class="mt-4"> تم انشاء هذا الموقع لغرض تسهيل الامور على المواطنين. <br>من خلال هذا الموقع يمكنك الحصول على وظيفة  
            ,حيث تتوفر الكثير من الاعمال والوظائف يمكنك التقديم على العمل المناسب لك. <br>عن طريق الموقع يمكنك الذهاب الى الرئيسية و رؤية كافة الاعمال والتقديم دون الحاجه الى تسجيل الدخول.<br><br>
            اما اذا كنت صاحب عمل او شركة فيمكنك استخدام التطبيف للحصول على موظفين حسب الصفات المطلوبة,<br> من خلال تسجيل الدخول او التسجيل اذا لم يكن لديك حساب ونشر الاعمال المتوفره.
        </h5>
        <br>
        <h4>
            تم تصميم الموقع بلغة القوالب Django واستخدام sqlite3 قاعدة البيانات التي يوفرها Django حيث تاتي من ضمن المشروع
        </h4>
        <div class="text-center mb-3 mt-4">
            <img src="{% static 'postss/images/wadhefa.png' %}" alt="شعار مدونة" width="200px">
        </div>

    </div>
{% endblock content %}